body{
    padding: 0;
    margin: 0;
    border: 0;
}

html{
    scroll-behavior: smooth;
}

h1, h2, h3, a{
    font-family: 'Condiment', cursive;
    font-size: 30px;
}

p{
    font-family: 'Sansita Swashed', cursive;
    font-size: 20px;
}

.header-img{
    width: 100%;
}

.texto-header{
    position: absolute;
}
.navbar-brand{
    font-family: 'Nosifer', cursive;
}

section img {
     height: 250px;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}


